a.gray:link {  color: 395375; text-decoration: none;font-family: verdana, 굴림, Seoul, Gulim;font-size: 9pt;}
a.gray:active {  color: 395375; text-decoration: none;font-family: verdana, 굴림, Seoul, Gulim;font-size: 9pt;}
a.gray:visited {  color: 395375; text-decoration: none;font-family: verdana, 굴림, Seoul, Gulim;font-size: 9pt;}
a.gray:hover {  color: 000000; text-decoration: none;font-family: verdana, 굴림, Seoul, Gulim;font-size: 9pt;}