@charset "utf-8";

/**********************************************************
* dafault
***********************************************************/
* {margin:0; padding:0;}

body {
	top repeat-x #FFFFFF;
	}

div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, table, td, th {margin:0; padding:0; font-family:NanumGothic,'Malgun Gothic',  dotum, "돋움"; font-size:12px; color:#000000; line-height:150%;}
/*tr {vertical-align:top}*/
img {border:0 none;}

a:link , a:visited, a:active {color:#336699; text-decoration:none;font-weight: bold}, a:hover {color:#4664a2; text-decoration:none;font-weight: bold}

input.box{height:23px;line-height:23px;padding-left:3px}
textarea.box{line-height:23px;padding-left:3px}


/**********************************************************
* left
***********************************************************/
.leftmenu{
	font-weight: normal !important;
	color:#666666 !important;
	onMouseOver:"this.style.backgroundColor='#EEEEFF'";
	onMouseOut: "this.style.backgroundColor='#F7F7F6'";
	}	
/**********************************************************
* left
***********************************************************/
.left_submenu:hover{
	background-color: #EEEEFF;
	}	


/**********************************************************
* top
***********************************************************/
.topmenu{
	color: #ffffff !important;
	vertical-align: middle;
	font-weight: bold;
	margin:20px;
	}	

.topmenu2{
	color: #ffffff !important;
	vertical-align: middle;
	font-weight: bold;
	margin:10px 3px 10px 3px;
	}	


/**********************************************************
* contents
***********************************************************/
.contents{
	vertical-align: top;
	text-align:left;
	}
	
.title_con{
    padding-top: 15px;
	padding-bottom:10px;
	font-weight: bold;
	font-size:14px;
	color:#354b78;
	height:30px
	}
	
/**********************************************************
* bottom
***********************************************************/
#copyright{
	color: #CCCCCC;
	font-family:verdana;
	font-size:8pt;
	}	
