@charset "euc-kr";

/*body공통속성*/
*{font-family:'GmarketSansMedium';}
body {background:url(../images/login/bg_wrap.jpg)top center no-repeat;  border-style:none; font-family:'GmarketSansMedium'; overflow:hidden}
body,div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, table, td, th, input{margin:0; padding:0;  font-size:15px;  line-height:150%; color:#444; }
img {border:0; vertical-align:middle;}
ul,ol,dl{ list-style:none;}
a:link , a:visited, a:active {color:#444; text-decoration:none;}
a:hover {color:#222;}
caption {display:none;}

em, i, address { font-style:normal; font-weight:normal; }
legend, caption { display:none; clear:both; }
input, textarea, select, button, table {font-size:inherit; font-family:inherit; line-height:inherit; }
section, nav, article, aside, hgroup, header, footer { display:block }
textarea, input { background:url(none); -webkit-border-radius:1px; -webkit-apprearance:none; }
textarea {resize:none; }
label {cursor:pointer; }

/*폰트*/
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
            
/*로그인영역*/
#login_wrap {width:948px; margin:0 auto; margin-top:8%; }
.login {width:948px; height:528px; background:url(../images/login/bg_login.png); position:relative; float:left}
.login_cts {width:300px; position:absolute; top:70px; right:43px;}
.login_cts ul {list-style:none; margin:0;}
.login_cts li {font-size:13px; text-align:center; padding-bottom:8px; font-family: 'GmarketSansMedium'; }
.login_cts li.tit_log {font-size:22px; text-align:center; padding-bottom:15px;  letter-spacing:-1pt; }
.input_login {width:280px; height:50px;  background:#efefef; padding:10px 20px; background-size:cover;  background-repeat:no-repeat;  background-position:center center; border-radius:100px; color:#777; font-size:14px; border:0; }
.txt_orange {color:#de5118}

/*Footer*/
.footer {width:100%; text-align:center; margin-top:15px; float:left }
.copyright {width:100%; text-align:center; font-size:12px; color:#888; font-family: 'GmarketSansMedium';  float:left}
